[Unit]
Description=PynqSLAM
After=network.target

[Service]
ExecStart=/home/xilinx/slamdunk/pynqslam/run.sh
KillMode=process
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
Alias=slam.service
